{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Thermos is a simple social bookmarking site. Or actually, it is a demo for the Pluralsight course titled Flask Fundamentals.</p>
        </header>
        <section>
            <h2>Recently added</h2>
            {% if new_bookmarks.count() > 0 %}
                <!-- <ul>
                {% for bm in new_bookmarks %}
                    <li>
                        <a href="{{url_for('user', username=bm.user.username)}}">
                            {{ bm.user.username }}
                        </a> added <a href="{{ bm.url }}">{{ bm.description }}</a>
                    </li>
                {% endfor %}
                </ul> -->
                {% with bookmarks = new_bookmarks %}
                    {% include "bookmark_list.html "%}
                {% endwith %}
            {% else %}
                No bookmarks have been added yet
            {% endif %}
        </section>
    </article>
{% endblock %}